h1 {
    color: rgb(192, 126, 3);
    text-align: center;
    
}
.imagen img {
    height: 500px;
    display: block;
    margin: auto;
}
h2 {
    color: rgb(192, 126, 3);
}
.texto {
    font-size: 22px;
    line-height: 1.5;
}
.boton {
   
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(202, 112, 8);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
 }